/* Windows 10 CSS Transparency */
@media (-moz-platform: windows) {
  .zen-browser-generic-background,
  .zen-browser-generic-background::before,
  .zen-browser-generic-background::after,
  #zen-browser-background,
  #zen-toolbar-background,
  #main-window {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
  }

  #navigator-toolbox,
  #zen-main-app-wrapper,
  #zen-appcontent-wrapper,
  #zen-tabbox-wrapper,
  #browser {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
    --zen-main-browser-background: transparent !important;
    --zen-main-browser-background-toolbar: transparent !important;
  }
}